Act4.3/MejoraDTD/Mejora.dtd

<!ELEMENT concesionario (coche+)>
<!ELEMENT coche (marca, modelo, matricula, potencia, plazas, puertas, combustible)>
<!ATTLIST coche codigo CDATA #REQUIRED>

<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT puertas (#PCDATA)>
<!ELEMENT combustible (#PCDATA)>