Act4.4/GestionDeCliente/Clientes.dtd

<!ELEMENT clientes (sede+, cliente*)>
<!ELEMENT sede (dir1, dir2, empleado, fecha)>
<!ELEMENT dir1 (#PCDATA)>
<!ELEMENT dir2 (#PCDATA)>
<!ELEMENT empleado (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT cliente (descripcionCliente, numViviendas, costeVivienda, resumenViviendas, plazoHacienda)>
<!ELEMENT descripcionCliente (#PCDATA)>
<!ELEMENT numViviendas (#PCDATA)>
<!ELEMENT costeVivienda (#PCDATA)>
<!ELEMENT resumenViviendas (#PCDATA)>
<!ELEMENT plazoHacienda (#PCDATA)>
